SQL_SERVER=YOUR_SQL_SERVER
SQL_DATABASE=YOUR_SQL_DATABASE
SQL_SCHEMA=dbo
SQL_DRIVER=ODBC Driver 17 for SQL Server

TABLE_LIST_FILE=config/tables.txt
BATCH_SIZE=50000

BASE_PATH=input
OUTPUT_DIR=output
LOGO_PATH=assets/logo.jpg

OLD_PERIOD=OLDPRD
NEW_PERIOD=NEWPRD